<?xml version="1.0"?>
<config>
    <modules>
        <Clarion_CustomerAttribute>
            <version>0.1.0</version>
        </Clarion_CustomerAttribute>
    </modules>
    <global>
        <resources>
            <customerattribute_setup>
                <setup>
                    <module>Clarion_CustomerAttribute</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerattribute_setup>
            <customerattribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerattribute_write>
            <customerattribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerattribute_read>
        </resources>
    </global>
	<frontend>
        <layout>
            <updates>
                <customer>
                    <file>customerattribute.xml</file>
                </customer>
            </updates>
        </layout>
    </frontend>
</config>