<?xml version="1.0"?>
<config>
    <modules>
        <Mypackage_Mymod>
            <version>0.1.0</version>
        </Mypackage_Mymod>
    </modules>
    <global>
        <models>
            <mymod>
                <!-- Init model for mymod module -->
                <class>Mypackage_Mymod_Model</class>
                <!-- Init db config handler for mymod models -->
                <resourceModel>mymod_mysql4</resourceModel>
            </mymod>
             
            <!-- declaring model vs db table relation -->
            <mymod_mysql4>
                <class>Mypackage_Mymod_Model_Mysql4</class>
                <!-- declate table test -->
                <entities>
                    <family>
                        <table>family</table>
                    </family>
                </entities>
                <!-- -/- -->
            </mymod_mysql4>
            <!-- -/- -->
        </models>
         
         
        <!-- Setup db read & write connection for Mymod module -->
        <resources>
            <!-- db write connection -->
            <mymod_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mymod_write>
            <!-- db read connection -->
            <mymod_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mymod_read>
        </resources>
        <!-- -/- -->
    </global>
</config>